*.i
*.ii
*.gpu
*.ptx
*.cubin
*.fatbin

/.idea/

/*build*/

/.vscode/

/quantization_plots/

/tools/

/.cache/

*.log
*.so
*.a
*.o

*/speech_commands/
*.whl
*.egg-info
*/*build*/
**/dist/
**/.pytest_cache/
/tmp/

/release/

__pycache__/

/test_*_results.csv
/test_*_results.txt
/tests/results/
